---
import { rrss } from "../rrss";

const today = new Date();
---

<footer class="w-full flex flex-row gap-2 justify-center">
  <p>
    &copy; {today.getFullYear()} | Simon Ottati. Estudiante.
  </p>
  {
    rrss.map((link) => (
      <a href={link.href} class="text-black" target="_blank">
        {link.name}
      </a>
    ))
  }
</footer>
