---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <BaseHead title={title} description="Descripcion del sitio web" />
  </head>
  <body>
    <Header />
    <main class="max-w-screen-lg">
      <slot />
      <!-- your content is injected here -->
    </main>
    <Footer />
  </body>
</html>
